body {

font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 20px;
color: #fff;
background-color: #f4770f;
	margin:50px 0px; padding:0px;
	text-align:center;
	
}

body,
	html {
		margin:0;
		padding:0;
		color:#000;
	}
	#wrap {
		width:750px;
		margin:0 auto;
	}
	#header {
    	padding:5px 10px;
	}
	h1 {
	    margin:0;
    }
	#nav {
		padding:5px 10px;
	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}
	#main {
float: left;
width: 480px;
padding: 10px;
left: -100px;
position: relative;
	}
	h2 {
	}
	#sidebar {
		float:right;
		width:230px;
		padding:10px;
left: -200px;
position: relative;
	}
	#footer {
		clear:both;
		padding:5px 10px;
	}
	#footer p {
		margin:0;
    }
	* html #footer {
		height:1px;
	}
	
h3 {
font-size: 64.5px;
padding-top: 25px;
padding-bottom: 32px;
/* background-color: white; */
width: 100%;
color: white;}
	
#timerholder {
display: block;
margin: auto;
/* float: left; */
width: 272px;

}


.span3 {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
color:white;
}


.container-narrow {
	margin: 0 auto;
	min-width:420px;
	max-width:720px;
}

.container-narrow > hr {
	margin: 30px 0;
}

.heading
{
	font-weight:bold;
}
.table
{
background-color:#F5F5F5;	
}
.table th.centerCell,
.table td.centerCell {
  text-align: center;
}

.table th.rightCell,
.table td.rightCell {
  text-align: right;
}

.header
{
	font-size:18px;
	padding:5px;
	text-align:center;
}

.table th.loadingCell,
.table td.loadingCell
{
	font-weight:bold;
	text-align:center;
	background-color:#FC0  !important;
}

.table th.commentCell,
.table td.commentCell
{
	background-color:inherit !important;
}

.tiny
{
	font-size:10px;
	color:#999;
}

.btn-left
{
	text-align:left;
}

.navbar-inner {
  padding-left:10px;
  padding-right:10px;
}

h4
{
color:#FFFFFF;
font-size:20px;	
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.25;
  filter: alpha(opacity=25);
}