body {
	padding-top: 20px;
    padding-bottom: 40px;
}
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow > hr {
	margin: 30px 0;
}

.heading
{
	font-weight:bold;
}

.table th.centerCell,
.table td.centerCell {
  text-align: center;
}

.table th.rightCell,
.table td.rightCell {
  text-align: right;
}

.header
{
	font-size:18px;
	padding:5px;
	text-align:center;
}

.tiny
{
	font-size:10px;
	color:#999;
}

.btn-left
{
	text-align:left;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }