body {
	padding-top: 20px;
    padding-bottom: 40px;
	padding-left:2px;
	padding-right:3px;
	
}
.container-narrow {
	margin: 0 auto;
	min-width:420px;
	max-width:720px;
}

.container-narrow > hr {
	margin: 30px 0;
}

.heading
{
	font-weight:bold;
}

.table th.centerCell,
.table td.centerCell {
  text-align: center;
}

.table th.rightCell,
.table td.rightCell {
  text-align: right;
}

.header
{
	font-size:18px;
	padding:5px;
	text-align:center;
}

.table th.loadingCell,
.table td.loadingCell
{
	font-weight:bold;
	text-align:center;
	background-color:#FC0  !important;
}

.table th.commentCell,
.table td.commentCell
{
	background-color:inherit !important;
}

.tiny
{
	font-size:10px;
	color:#999;
}

.btn-left
{
	text-align:left;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.25;
  filter: alpha(opacity=25);
}