body
{
	font-family:Verdana, Geneva, sans-serif;
}
a:link
{
	text-decoration: none;
}
a:visited
{
	text-decoration: none;
}
a:hover, a:active, a:focus
{
	text-decoration: none;
}

.header
{
	font-size:18px;
	padding:5px;
	text-align:center;
}

.tiny
{
	font-size:10px;
	color:#555;
}

.tableRow
{
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#999;
	text-align:center;
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }